{% extends 'layout.html' %}
{% block content %}
  <div style="font-size:25px; font-weight:bold; font-style:italic; text-align:center;">
    {{ team.name }} tasks
  </div>
  <br>
  <div class="whole">
    <div class="column"> 
      <p class="state">TO DO</p>
      {% for task in tasks_todo %}
        <a href="{{ url_for('task', task_id=task.id) }}"><div class="task">{{ task.title }}</div></a>
      {% endfor %}
    </div>
    <div class="column">  
      <p class="state">IN PROGRESS</p>
      {% for task in tasks_in_progress %}
        <a href="{{ url_for('task', task_id=task.id) }}"><div class="task">{{ task.title }}</div></a>
      {% endfor %}
    </div>
    <div class="column">
      <p class="state">DONE</p>
      {% for task in tasks_done %}
        <a href="{{ url_for('task', task_id=task.id) }}"><div class="task">{{ task.title }}</div></a>
      {% endfor %}
    </div>
  </div>
  <div class="btn">
    <a class="btn btn-primary" href="{{ url_for('create_team_task', team_id=team.id) }}">Add a task</a>
  </div>
{% endblock content %}